##导入宏定义
$!{define.vm}

$!{mybatisCodehelper.vm}
#set($ServiceImplName = $tool.append($tableInfo.name, "Service"))


$!callback.setSavePath($serviceSrcFolder)
$!callback.setFileName($tool.append($ServiceImplName, ".java"))

#set($daoClassName = $tool.append($tableInfo.name, ${daoSuffix}))
#set($daoName = $tool.firstLowerCase($daoClassName))

package $!{servicePackageName};

import ${mapperPackageName}.$!{daoClassName};
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;

/**
 * @author $!author
 * @since $!time.currTime()
 */
@Service
@RequiredArgsConstructor
public class $!{ServiceImplName} {

    private final $!{daoClassName} $!{daoName};

}
